@use "../../global.scss" as *;

.ceal_escrito {
  color: #606060;
  font-weight: 500;
  background-color: #fafafa;
  padding: 12px;
  border-radius: 4px;
}

.ceal_input_num_condicao {
  width: 33%;
}

.secao_input.ceal {
  align-items: center;
}

.secao_input.bottom {
  align-items: flex-end;
}

.ceal__control {
  padding: 2px;
}

.ceal__control {
  box-shadow: 0px 4px 8px rgba(26, 26, 26, 0.025);
  transition: none !important;
  min-width: 235px;
}

.ceal__control--is-focused {
  box-shadow: 0 0 0px 1px #5751D5 !important;
}

.ceal__option--is-selected {
  background-color: #0b265a;
  color: white;
}