@use "../../global.scss" as *;

.pagina_wrapper {
  display: flex;
  min-height: 100vh;
}

.pagina_container {
  padding: 40px;
}

.num_cadastros {
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
}

.alert_lista {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}