@use "../../global.scss" as *;

.baci_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.baci_container h1 {
    font-size: 40px;
    font-family: "Poppins";
    color: $roxo;
}

.baci_pesquisa {
    display: flex;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    padding: 12px;
    gap: 12px;
    &:focus-within {
        border-color: transparent;
        box-shadow: 0 0 0px 1.5px #5751D5; // Borda que vai pra fora ao invés de pra dentro
    
        svg {
          stroke: #5751D5;
        }
      }
}

.baci_pesquisa.interno.botao:hover {
    display: flex;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    padding: 12px;
    gap: 12px;
    border-color: transparent;
    box-shadow: 0 0 0px 1.5px #5751D5;
    cursor: pointer;
}

.baci_pesquisa.interno.botao:hover svg {
    stroke: #5751D5;
}

.interno_ativo {
    width: 45%;
}


.baci_pesquisa input {
    font-weight: 500;
    width: 100%;
    min-width: 256px;
    &:focus {
        outline: none;
    }
}

.baci_dir {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.subir {
    animation: subirAnimation 0.3s ease forwards;
  }
  
  @keyframes subirAnimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100px);
      opacity: 0;
    }
  }
  
  .descer {
    animation: descerAnimation 0.3s ease forwards;
  }
  
  @keyframes descerAnimation {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.botaoCTA_width_fixo button {
    width: 248px;
}

.baci_pesquisa.interno.normal {
  margin-bottom: 40px;
}