@use "../../global.scss" as *;

.baci_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.baci_container h1 {
    font-size: 40px;
    font-family: "Poppins";
    color: $roxo;
}

.baci_pesquisa {
    display: flex;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    padding: 12px;
    gap: 12px;
    &:focus-within {
        border-color: transparent;
        box-shadow: 0 0 0px 1.5px #5751D5; // Borda que vai pra fora ao invés de pra dentro
    
        svg {
          stroke: #5751D5;
        }
      }
}

.interno {
    width: 50%;
}

.baci_pesquisa input {
    font-weight: 500;
    width: 256px;
    &:focus {
        outline: none;
    }
}

.baci_dir {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}