@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

// Variáveis

$cinza: #F5F5F5;
$cinza-hover: #E8E8E8;

$escrito: #404040;

$roxo: #5751D5;
$roxo-hover: #4641AA;

$verde-marca: #74DB23;
$verde-marca-hover: #5DAF1C;

$verde: #17801e;
$verde-hover: #126618;

$vermelho: #ED3C5C;
$vermelho-hover: #BE304A;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-position: inside;
  border: none;
  font-family: "Montserrat";
}

.pagina_wrapper_login {
  display: flex;
  flex-direction: column;
}

.pagina_container_login {
  margin-left: 15vw;
  padding: 48px;
  min-height: 100vh;
}

.pagina_wrapper_sem_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagina_container_cima_sem_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
}

.pagina_container_sem_login {
  width: 1220px;
}




// Customização Swal

.swal_rapido {
  --animate-duration: 0.3s !important;
}

.swal_titulo {
  font-family: Poppins;
  color: #404040;
  margin-bottom: 20px;
}

.swal_botao_cancelar_texto_cor {
  color: $roxo;
  font-weight: 600;
}

.swal2-confirm, .swal2-cancel {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}





.card_nenhum {
  font-weight: 500;
  color: #606060;
  padding: 32px;
  background-color: #fafafa;
  border-radius: 12px;
  width: 100%;
}

.max_linha_1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max_linha_2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max_linha_3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}